.lineHorizontallineHeaderClass{
	/* font: 13px 'Open Sans',sans-serif;
	font-weight:bold; */
	color: #000000;
	padding: .7em;
	margin: 0;
	line-height: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.lineHeaderClass{
	/*font: 13px 'Open Sans',sans-serif;
	font-weight:bold; */
	color: #000000;
	padding: .7em;
	margin: 0;
	line-height: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 1000%;
	-webkit-transform: rotate(90deg) translateX(20px); 
	-moz-transform:    rotate(90deg) translateX(20px);
	-ms-transform:     rotate(90deg) translateX(19px) !important;
	-o-transform:      rotate(90deg) translateX(20px); 
	transform:         rotate(90deg) translateX(20px); 
	-webkit-transform-origin: 2.0em .5em;
	-moz-transform-origin:    2.0em .5em;
	-ms-transform-origin:     2.0em .5em;
	-o-transform-origin:      2.0em .5em;
	transform-origin:         2.0em .5em;
	z-index : 1;
}
.chart-wrapper {
	position: relative;
	padding-bottom: 40%;
}

.chart-inner {
	position: absolute;
	width: 100%; height: 100%;
}

.horizontalContentClass{
	margin: 0 0 1em;
	-webkit-transform: translateX(0em) translateY(2em); 
	-moz-transform:    translateX(0em) translateY(2em); 
	-ms-transform:     translateX(0em) translateY(2em); 
	-o-transform:      translateX(0em) translateY(2em); 
	transform:         translateX(0em) translateY(2em);   
	height:auto !important;  
}
.highcharts-legend-item-linebasic-ext {
	transform:translate(8px,13px);
}
.enhancedViewChartContainerHeight{
	height : 600px !important;
	border: 0 !important;
	padding: 0 !important;
	overflow: visible !important; 
}       
.chartContainer {
	background:#ffffff !important;
	display: block;
	position: relative;  
	padding: 3em 3.5em .5em .7em; 
	overflow: hidden;
	/*border: 1px solid #c8c8c8;
	height:220px !important;*/
}
.chartTitle {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 240px;
	display: inline-block;        
} 