.panel1 {
	border-radius: 0px !important;
	box-shadow: 3px 3px 5px #777 !important;
	border: 1px solid #858585!important;
	margin-bottom: 20px !important;
}
.checBoxAlignment label{
	font-weight: 900 !important;
	padding: 0px 10px;
}
/*
.labelHelpTooltip:hover{
	text-decoration: none !important; 
	color:black !important;
}
.labelHelpTooltip{
	position: relative;
	color:black !important;
}
.relativePanel {
	position: relative;
}
.fieldApiNameDisplay {
	position: absolute;
	top: 24px;
	left: -16px;
	display: none;
	z-index: 1;
}
.fieldApiNameDisplay > .fieldNameContainer {
	padding: 5px;
	border: 2px solid #CCCCCC;
	border-radius: 3px !important;
	background-color: #FFF;
	z-index: 2;
	position: relative;
}
.fieldApiNameDisplay.active {
	display: block;
}
.fieldApiNameDisplay > .fieldNameContainer > .carrot {
	display: block;
	width: 12px;
	height: 8px;
	margin-left: 10px;
	background: white url({!urlfor($Resource.CollabSprites, 'CollabSprites/collabSprites.png')}) no-repeat 0px -261px;
	z-index: 3;
	top: -8px;
	position: absolute;
}
.static-text{
	display: inline;
	padding-top: 3px;
	text-align: left;
	vertical-align: top;    
}
.radioClass input[type="radio"],.vertical-radio input[type="radio"]{
	vertical-align: baseline;
	margin-right:4px !important;
}
.radioClass label{
	vertical-align: inherit;
}

.radioClass td {
	padding-right:5px;
}

.checBoxAlignment td{
	padding-right:10px;
}

.checBoxAlignment input[type="checkbox"],.vertical-checkbox input[type="checkbox"]{
	vertical-align: baseline;
	margin-right:4px !important;
}
.checBoxAlignment label{
	vertical-align: inherit;
}

.verticalLabelAlignmentCls{
	width:100%; 
	text-align:left !important;
}
.collabTableBackground {
	padding: 10px;
}
.collabTableBackground,
.collabTableBackground > .collabPanel.panel.panel-default {
	border: 1px solid #858585 !important;
	box-shadow: 3px 3px 5px #777 !important;     
}
.helpTextPostStyle{
	font-style:italic;
	color:#78787D;
	font-weight:700;
	padding-left:5px;
}
.LEFT_RIGHT {
	display: inline-block;
	width: 49%;
}
.column-lists-both .bold-text{
	width: 21% !important;
}
.column-lists-both .field-value{
	width: 76% !important;
	word-wrap: break-word;
}
.column-lists-both {
	width: 98%;
}
.column-lists-both-left-right li{
	width: 50%;
	float: left;
}
.column-lists-both-left-right .bold-text{
	width: 44% !important;
}
.column-lists-both-left-right .field-value{
	width: 54% !important;
	word-wrap: break-word;
}
.column-lists-left {
	width: 48% !important;
}
.column-lists-right {
	width: 50% !important;
}
.column-lists-left .bold-text,
.column-lists-right .bold-text {
	width: 44% !important;
}

.column-lists-left .field-value,
.column-lists-right .field-value {
	width: 55% !important;
}

.column-lists-right > ul,
.column-lists-left > ul,
.column-lists-both > ul {
	padding-left: 5px !important;
}
.helpIcon {
color: #6ea3d1 !important;
	padding-right: 3px !important;
}
*/