/* overriding this style (originally coming from bootstrap-addition.css here as it is causing 
the issue of white space getting displayed betwn the top tab panel and bottom body panel*/
.navbar:after{
	display: inline !important;
} 
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.headerCell a:focus {
	outline: none !important;
}

.panel-heading{
	border-radius: 1px 1px 0px 0px !important;
}
.panel{
	border-radius: 1px 1px 0px 0px !important;
}
.lookup-search{
	margin-top: 10px;
	margin-right: 15px;
}
.row-Margin{
	margin-top: 10px;
}
.border-msg {
	border: 1px solid !important;
	border-radius: 6px !important;
}
.add-on .input-group-btn > .btn {
	border-left-width:0;left:-2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
	box-shadow:none;
	-webkit-box-shadow:none; 
	border-color:#cccccc; 
}
.panel-heading-pagination a{
	color: #428bca !important;
}
.panel-heading-pagination .disabledCls{
	color: #EEEEEE!important;
}
.modalFlex{
	overflow:auto !important;
}
th,td{
	word-wrap:break-word;
} 
iframe{
	overflow :scroll !important;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
}
.flexTableHeader {
	background-color:#2C7FC8;  /* #096BCC;*/
	color: white !important;
}
body {
	height: 0%;
}
.bs .list-group-item {
	border: none;
}
.disableAnchor {
	pointer-events:none;
}