#dvLoading{           
	height: 200px;
	width: 200px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 50%;
	margin: -25px 0 0 -25px;
}	
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 8px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	float: right;
}
.bottomMenu {
	position: fixed;
	bottom: 0;
	right: 1em;            
	font-size:14px;
	z-index:10000;
}
.bottomMenu-head {       
	color: white;
	width:100%;
	display: inline-block;
}
.bottomMenu-body {
	background-color: #f9f9f9;
	border: 1px solid #EFE9E9
	height : 5em;
	padding: 1em;
	display: none;
}
.bottomMenu-body a:hover {
	background-color: #f1f1f1
}
.bottomMenu-body a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align:left;           
} 
   