.disable-action{
	cursor: default !important
}

.modal-header-ext{
	padding: 10px 15px 10px 15px !important;
	font-size: 14px;
}

.btn-ext{
	border: 0px !important;
	border-radius: 0px !important;
}        
        