 .select2-container,
.select2-container {
	padding: 5px;
	padding-left: 0px;
}
.hiddenDiv.select2-search,
.hiddenDiv.select2-search {
	display: none;
	padding-right: 0px;
	margin-top: -6px;
	padding-left: 0px;
}
.hiddenDiv.select2-search > input,
.hiddenDiv.select2-search > input {
	border-right: 0px;
	border-left: 0px;
}
.hiddenDiv.active,
.hiddenDiv.active {
	display: block;
}