.tableLinks{
	cursor:pointer !important;
	text-decoration:none !important;            
}
.menuIcon{
	font-size: 18px;
}
.tableCell{
	max-width:80px; /* Customise it accordingly */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tableRowLinks{
	cursor:pointer !important;
	text-decoration:underline!important; 
}
.spacer {
	margin-top: 10px !important; /* define margin as you see fit */
}
.textAreaDesc{
	resize: none;
}
html {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-heading-header1 { 
	padding-left: 5px; padding-top:0px !important;
	padding-bottom:0px !important; 
	display:block !important;  
	width:100%;
	border-radius: 0px 0px 0 0 !important; 
}